@font-face {
   font-family: 'IntegralCF-Bold';
   src: url('/fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'IntegralCF-Bold';
   src: url('/fonts/Fontspring-DEMO-integralcf-extrabold.otf') format('opentype');
   font-weight: 800;
   font-style: normal;
}
@font-face {
   font-family: 'IntegralCF-Bold';
   src: url('/fonts/Fontspring-DEMO-integralcf-heavy.otf') format('opentype');
   font-weight: 900;
   font-style: normal;
}
@font-face {
   font-family: 'Satoshi-Regular';
   src: url('/fonts/Satoshi-Regular.otf') format('opentype');
   font-weight: 400;
   font-style: normal;
}

@import "tailwindcss";

:root {
   --gray-color-01: rgba(255, 255, 255, 0.60);

}
.satoshi {
   font-family: 'Satoshi-Regular';
}
.integral {
   font-family: 'IntegralCF-Bold';
}