@font-face {
   font-family: 'IntegralCF';
   src: url('./fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'IntegralCF';
   src: url('./fonts/Fontspring-DEMO-integralcf-extrabold.otf') format('opentype');
   font-weight: 800;
   font-style: normal;
}
@font-face {
   font-family: 'IntegralCF';
   src: url('./fonts/Fontspring-DEMO-integralcf-heavy.otf') format('opentype');
   font-weight: 900;
   font-style: normal;
}
@font-face {
   font-family: 'Satoshi';
   src: url('./fonts/Satoshi-Regular.otf') format('opentype');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'Satoshi';
   src: url('./fonts/Satoshi-Medium.otf') format('opentype');
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: 'Satoshi';
   src: url('./fonts/Satoshi-Bold.otf') format('opentype');
   font-weight: 700;
   font-style: normal;
}

@import "tailwindcss";

:root {
   --black-color-01: rgba(0, 0, 0, 0.10);
   --black-color-01: #000104;

   --gray-color-01: rgba(255, 255, 255, 0.60);
   --gray-color-02: #F0F0F0;
   --gray-color-03: rgba(0, 0, 0, 0.40);

   --red-color-01: #F33;
   --red-color-02: rgba(255, 51, 51, 0.10);
   --red-color-03: #770505;

   --blue-color-01: #0E1883;

   --orange-color-01: #B85D12;

   --cards: 3;
   --cardHeight: 95vh;
   --cardTopPadding: 1.5em;
   --cardMargin: 4vw;
}
.satoshi {
   font-family: 'Satoshi';
}
.integral {
   font-family: 'IntegralCF';
}

@keyframes scroll {
   0% { transform: translateX(0); }
   100% { transform: translateX(-50%); }
}

.logos-track {
   animation: scroll 30s linear infinite;
}


.hidden-card {
   display: none;
   opacity: 0;
   transition: opacity 0.3s ease;
}

.hidden-card.show {
   display: flex;
   opacity: 1;
}

#card1{
   --index: 1;
}
#card2{
   --index: 2;
}
#card3{
   --index: 3;
}